<div>
  <div class="row menu-header">
    <div class="col-md-6 title">
      Menu
    </div>
    <div class="col-md-6 community-score">
      <div class="row">
        <div class="heart"><i class="fa fa-pen"></i></div>
        <div>
            <div class="score-detail">1000</div>
            <div class="score-desc">Community Score</div>
        </div>
        
      </div>
    </div>
  </div>
  <div class="row product-catalogue">
    <div class="col-md-4 item-card" *ngFor="let item of [0,1,2,3,4,5]">
      <app-product-catalogue></app-product-catalogue>
    </div>
  </div>
  
</div>
